{% extends "base.html" %}

{% block content %}
<h1>Добавление работы</h1>
{% if current_user.is_authenticated %}
    <a href="adding_job" class="btn btn-secondary">Добавить работу</a>
{% endif %}
{% for item in jobs%}
<h2>Работа #{{ item.id }}</h2>
<table border="2">
    <tr bgcolor="gray">
        <td>Название работы</td>
        <td>Ответственный</td>
        <td>Продолжительность</td>
        <td>Список id команд</td>
        <td>Завершена или нет</td>
    </tr>
    <tr>
        <td>{{ item.job }}</td>
        <td>{{ item.team_leader }}</td>
        <td>{{ item.work_size }}</td>
        <td>{{ item.collaborators }}</td>
        {% if item.is_finished %}
            <td>Завершена</td>
        {% else %}
            <td>Не завершена</td>
        {% endif %}
    </tr>
</table>
{% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
    <div>
        <a href="/jobs/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
{% endfor %}
{% endblock %}